<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav navbar-nav"><%= image_tag ("/assets/Portal.png"), size: 50 %>
        <li class="active"><%= link_to "Home", root_path %><span class="sr-only">(current)</span></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop by Category<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
              <li><%= link_to category.name, categorical_path(category_id: category.id) %></li>
            <% end %>
            <li><%= link_to "All Categories", root_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop by Type<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @brands.each do |brand| %>
              <li><%= link_to brand, type_path(brand: brand) %></li>
            <% end %>
            <li><%= link_to "All Types", root_path %></li>
          </ul>
        </li>
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
              <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button class="btn btn-success" type="submit" >Submit</button>
        </form>
        <a href="/view_order"><span class="glyphicons glyphicons-shopping-cart"></span></a>
       <li><%= link_to "View Order", view_order_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>