<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="style.scss" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body id="white">
   

    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
